/*HEAD*/
		.head{
			background-color: black;
			/*min-height: 3em;*/
			/*margin:auto;*/
		
			margin-top: 0px;
			margin: 0px;	
		}

		.head p{
			
			margin-top: 0px;
			margin: 0px;	
		}

		.head1{
			/*float: left;*/
			width: 49%;
			min-height: 1em;
			
			display: inline-block;
			margin: 0px;
		}
		.head1 p{
			font-size: 12px;
			margin: 0px;
			color:#8e8181;
			text-align: center;
		}
		.head2{
			/*float: right;*/
			width: 49%;
			margin: 0px;
			
			display: inline-block;
			
		}
		.head2 li{
			margin: 0px;
			color:#8e8181;
			font-size: 12px;
			/*list-style-type: none;*/
			display: inline-block;
		}
		.head2 ul{
			margin: 0px;
			
		}
		.head2 a{
			text-decoration: none;
			color: white;
		}

/*carrito*/
	.carrito{
	top: 0px;
	left:92em;
	float: right;
	position: fixed;
	width: 50px;
	min-height: 50px;
	border-style: outset;
	border-color: white;
	}
	#shop{

	}


/*up*/
	.up{
		
		top: 44em;
		left:92em;
		float: right;
		position: fixed;
		width: 50px;
		max-height: 50px;
		max-width: 50px; 
		
		border-style: outset;
		border-color: white;
		padding-left: 10px;
    padding-top: 10px;

	}
	#up{

	}


	

/*MENU LOGO*/
		.logom{
			background-color: #d6d6dc;
			/*min-height: 3em;*/
			/*margin:auto;*/
			margin-top: 0px;	
			width: 100%;

		}
		.logom a{
			color: white;

		}

		.logom1{
			width: 49%;
			min-height: 1em;

			display: inline-block;
			margin: 0px;
			text-align: center;

			/*background-color: red;*/
		}
		.logom1 img
		 {
		 	float: left;
			display: inline-block;
			margin-left: 25%;
				}
				.logom1 h1{
					padding-top: 10px;
					float: left;
					display: inline-block;
					color: white;
				}
		.logom2{
			float: right;
			width: 49%;
			min-height: 100px;

			display: inline-block;
			
		}
		.logom2 li{
			
			/*color:#8e8181;*/
			color: white;
			font-size: 1.2em;

			
			display: inline-block;
						
		}
		.logom2 ul{
			
			color: white;
			padding: 0px;
			padding-top: 10px;
			display: inline-block;

		}


		.logom3{
			float: right;
			width: 49%;
			min-height: 100px;

			display: inline-block;
			/*background-color: blue;*/
			margin-right:  30px;
		}
		.logom3 h1{
			font-family: cursive;
			font-weight: 1;
			color:#902a72;
			font-size: 9em;
			margin: 0px;
			margin-left: 50px;
		}
		.logom3 h2{
			font-weight: 1;
			color: #5050a0;
			font-size: 5em;
			margin: 0px;
			margin-left: 150px;
			margin-bottom: 40px;
		}
		.logom3 h3{
			color: #474141;
		    font-size: 2em;
		    margin: 0px;
		    margin-left: 230px;
		    font-weight: 1;
		    margin-bottom: 5px;
		}
		.logom3 li{
			
			/*color:#8e8181;*/
			color: white;
			font-size: 1.3em;

			
			display: inline-block;
						
		}
		.logom3 ul{
			
			color: white;
			padding: 0px;
			padding-top: 10px;
			display: inline-block;

		}
		
		.logom4{
			width: 49%;
			position: relative;


			display: inline-block;
			margin: 0px;
			text-align: center;

			/*background-color: red;*/
		}
		.logom4 img {
			margin-left: 200px;
			}
				.boton{
				width:19%;
				margin:auto;
				margin-top: 2em;
				padding: 10px;
				/*background-color:#b11e87;*/
				border-radius:25px; 
				border-style: solid;
				border-color: white;
				margin-left: 265px; 
			}
	
			.boton:hover{
				background-color:#b11e87;
			}
		

			.boton a{
				color: white; 
				text-align: center;
				margin: auto;
				margin-left: 25px;
				text-decoration: none;
			}

/*yoga fat*/
		.yf{
			width: 100%;
			/*background-color: red;*/
							background-color:#d6d6dc;

			min-height: 2em;
			margin: 0px;
			text-align: center;

		}
		.yf h1{
			margin: 0px;
			padding-top: 2em;
			font-size: 5em;
			font-weight: 1;
			color: #cb39a0;
		}
		.yf h2{
			margin: 0px;

			font-size: 5em;
			font-weight: 900;
			color: #8b8ddc;
		}
		.yf p{
			font-size: 22px;
			margin: auto;
			width: 60%;
			margin-bottom: 3em;
		}

		.yf1{
			width: 30%;
			min-height: 2em;
			/*background-color: red;*/
			display: inline-block;

		} 
		.yf2{
			width: 30%;
			min-height: 2em;
			/*background-color: red;*/
			display: inline-block;

		}
		.yf3{
			width: 30%;
			min-height: 2em;
			/*background-color: red;*/
			display: inline-block;

		}

		.f111 h3{
			font-weight: 1;
			margin: 0px;
			font-size: 30px;

		}
		.f111  p{
			margin: auto;
			font-size: 17px;
			margin-top: 15px;
			width: 90%;

		}
		.f111{
			text-align: center;
			width: 80%;
			float: left;
			/*background-color: blue;*/
			min-height: 1em;
			/*margin: 0px;*/
			margin-bottom: 2em;
		}
		.f112{
			width: 20%;
			float: right;
			/*background-color: green;*/
			min-height: 1em;

		}


		.f211{
			text-align: center;
			width: 80%;
			float: right;
			/*background-color: blue;*/
			min-height: 1em;
			/*margin: 0px;*/
			margin-bottom: 2em;
		}

		.f211 h3{
			font-weight: 1;
			margin: 0px;
			font-size: 30px;

		}
		.f211  p{
			margin: auto;
			font-size: 17px;
			margin-top: 15px;
			width: 90%;

		}
		.f212{
			width: 20%;
			float: left;
			/*background-color: green;*/
			min-height: 1em;

		}


/*chose your Classes and Start Your Training*/
	.cy{
		background-color:#11a3b18a;
				min-height: 2em;
				margin: 0px;
				text-align: center;
				padding: 2em;
				/*margin-top: 25px;*/
	}
	.cy h2{
				margin: 0px;

				font-size: 3em;
				font-weight: 1;
				color: white;
		}

	.cy1{
		
		width:69%;
		
		display: inline-block;
	}
	.cy2{
		
		width: 30%;
		
		display: inline-block;

	}

	.botoncy{
		width: 25%;
	    margin: auto;
	    
	    padding: 10px;
	    
	    border-style: solid;
	    border-color: white;
	    border-radius: 25px;
	    margin-left: 180px;
	}
	.botoncy a{
		color: white; 
		text-align: center;
		
		text-decoration: none;
	}


/*Our Classes*/
	.uo{
		background-color:#d6d6dc;
				min-height: 2em;
				margin: 0px;
				text-align: center;
				

				padding: 2em;

	}
	.uo h1{
				margin-bottom: 1em;

				font-size: 3em;
				font-weight: 1;
				color: black;
		}

	.uo1{
		width: 90%;
		margin: auto;
		min-height: 1em;
		/*background-color: red;*/
	}
	.uod{ 
		display: inline-block;
		width: 30%;
		min-height: 1em;
		/*background-color: blue;*/
		margin-right: 30px;
		/*background-image: url("imagenes/pg.jpg"); */
	}

	/*.uod img:hover{
		opacity: .5;
		background-color: pink;
	}*/


/*JG*/
 	.jg{
 		padding: 3em;
 		opacity: .5;
		/*background-color:#11a3b18a;*/
				min-height: 2em;
				margin: 0px;
			text-align: center;
			color: white;
			background-image: url("../imagenes/images.jfif");
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
	}
	.jg h3{
		width: 60%;
		margin:auto;
		font-size: 31px;
   		 line-height: 40px;
   		 margin-bottom:  2em;
	}
	.jg img{
		
   		 margin-bottom:  2em;
	}


/*classes timetable*/
	.ct{
			background-color:#d6d6dc;
					min-height: 2em;
					margin: 0px;
					text-align: center;
					padding: 3em;
					
		}
		.ct h1{
					margin: 0px;

					font-size: 3em;
					font-weight: 1;
					color: black;
			}

		.ct table{
			/*border-style: solid;*/
			text-align: center;
			margin: auto;

		}
		.ct tr{
			/*border-style: solid;*/
		}
		.ct th{
			width: 10em;
			/*min-height: 10em;*/
			/*border-style: solid;*/
		}
		.ct2{
			min-height: 2em;
					margin: 0px;
					text-align: center;
					/*float: left;*/
					width: 65%;
				margin-left: 105px;
					margin-top: 25px;
					margin-bottom:  25px;
					/*background-color: red	;*/
		}
		.ae{
			display: inline-block;
			/*float: left;*/
			
			margin-left: 20px;

		}
		.ae a{

			text-decoration: none;
		}
		#bcc{
			border-color: white;
			border-bottom-style:solid;

		}
		#bcc:hover{
			border-color: black;
			border-bottom-style:solid;

		}
		
		#bc{
			border-bottom-style:solid;

		}
		.ae h3{
			display: inline-block;

			
			#EDA41A
			
		}
		#bla{
			background-color: white;
		}
		#ky{
			background-color:#e8bc6f;
			color: white;
		}

		#mf{
			background-color: #73c6cd;
			color: white;

		}
		#ay{
			color: white;
			background-color: #cd7399;
		}
		#yd{
			color: white;
			background-color: #62aed6;
		}
		#hy{
			color: white;
			background-color: #e4926e;
		}
		


/*mary sheldon*/
	.ms{
				background-color:#11a3b18a;
						min-height: 2em;
						margin: 0px;
						text-align: center;
			padding: 3em;
						
						
			}

	.ms2{
			background-color:#11a3b18a;
			min-height: 2em;

			margin: auto;
			text-align: center;
			
			width: 80%;
			
						
			border-style: solid;
			border-color: white;
	}

	.ms22{
	min-height: 103px;
    width: 12%;
    /*background-color: red;*/
    display: inline-block;
    border-radius: 50%;
    
    margin-top: 2em;
    background-image: url("../imagenes/mary.jpg");
    background-repeat: no-repeat;

   
   
			}

	.ms23{
				min-height: 2em;
						width: 25%;
						/*background-color:blue;*/
						display: inline-block;
			}
			.ms23 img{
						display: inline-block;
			}

	.ms24{			
				min-height: 2em;
						width: 49%;
						/*background-color: green;*/
						display: inline-block;
						font-size: 14px;
			}

/*Center Your body and mind*/

	.cb{
				background-color:#d6d6dc;
						min-height: 2em;
						margin: 0px;

						
						
						
						padding: 3em;
						
			}
			.cb img{
				
				margin-left: 4em;	
			}

			.cb1{
				/*background-color:blue;*/
						min-height: 2em;
						margin: 0px;
						display: inline-block;

						
						/*margin-top: 100px;*/
						text-align: right;
						width: 41%;
						font-size: 25px;
						line-height: 40px;
						
			}

/*count*/
	.count{
					background-color:#d4a561ed;
							min-height: 2em;
							margin: 0px;
							padding: 3em;

							
							
						
							
							
				}
				.count table{
					
					margin:auto;
					/*border-spacing:  2em;*/
				}
				.count th{
					margin-top: 3em;
					padding-right: 2em;
					padding-left:  2em;


				}
				#co{
					/*font-family: ads;*/
					font-size: 40px;
					font-weight: 1;
				}


/*Yoga shop*/
	.shop{
					background-color:#d6d6dc;
							min-height: 2em;
							padding: 3em;
				}
				.shop h1{
					margin-bottom: 1em;
					text-align: center;

					font-size: 2.5em;
					font-weight: 1;
					color: black;
			}
			.shopc{
					/*background-color:blue;*/


							min-height: 2em;
							margin: 0px;

							margin: auto;
							/*padding: 2em;*/

							
							width: 80%;
							
							
				}
				.shopi{
					/*background-color:green;*/

							min-height: 2em;
							margin-left: 2.8em;
							display: inline-block;
							width: 20%;
							text-align: center;
							
							
							
				}
				.botons{
					width:9%;
					margin:auto;
					margin-top: 2em;
					padding: 10px;
					/*background-color:#b11e87;*/
					border-style: solid;
					border-color: white;
					border-radius:25px; 
					margin-left: 42em; 
				}
				.botons:hover{
					background-color:#b11e87;
				}
				.botons a{
					color: black; 
					text-align: center;
					margin: auto;
					margin-left: 25px;
					text-decoration: none;
				}


/*contact info*/

	.cont{
		background-image: url(../imagenes/fondo.jpg);
		background-repeat: no-repeat;
		background-size:  cover;
								min-height: 2em;
								padding: 3em;

	}
	.conti{
		display: inline-block;
		/*background-color: blue;*/
		width: 30%;
		color: white;
		font-weight: 100;
		margin-left: 4em;
	}
	.oh{
		display: inline-block;
		/*background-color: blue;*/
		width: 30%;
		color: white;
		font-weight: 100;
	}
	.lp{
		display: inline-block;
		/*background-color: blue;*/
		width: 30%;
		color: white; 
		font-weight: 100;
	}


	.botoninf{
						width:20%;
						
						margin-top: 2em;
						padding: 10px;
						/*background-color:#b11e87;*/
						border-style: solid;
						border-color: white;
						border-radius:25px; 
						margin-left: 20px;
						 
					}
	.botoninf:hover{
	background-color:#b11e87;
}
					.botoninf a{
						color: black; 
						text-align: center;
						margin: auto;
						
						text-decoration: none;
					
					}

/*Upcoming Events*/

	.ue{

				background-color:#d6d6dc;
				min-height: 2em;
				padding: 3em;
			}
			.ue h1{
			margin-bottom: 1em;
			text-align: center;

			font-size: 2.5em;
			font-weight: 1;
			color: black;
			}

	.cir{
		border-style: solid;
		border-color: white;
		border-radius: 50%;
		width: 90px;
	    height: 90px;
	    margin-left: 3em;
	    margin-right: 2em;
	}
	.cir h1{
		color:blue;
		margin: 0px;
		margin-top: 5px;
	}
	.cir p,a{

		margin: 0px;
		text-decoration:none;
	}
	.mmr{
		text-align: left;
		margin-left: 1em;
	}
	.mmr h2{
		
	}
	.mmr p{

		color:#797994;
		/*margin: 0px;*/

	}

/*4 years ago*/

	.y4{

				background-color:#43b7e2d9;
				min-height: 2em;
				/*padding: 3em;*/
			}
	.y4 img{
		display: inline-block;
		margin-left: 200px;	
		margin-top: 10px;
		vertical-align: middle;

	}
	.y4 p{
		/*vertical-align: middle;*/
		padding-bottom: 10px;
		display: inline-block;	
		margin-left: 25px;
	}
	.y4 h3{
		display: inline-block;	
		margin-left:  25px;
	}


/*final*/
	.final{

					background-color:#563030f5;
					min-height: 2em;
					padding: 3em;
					text-align: center;
					
				}

				.final ul{

					list-style-type: none;
					margin-bottom: 3em;

				}
				.final a{
					color: white;

				}
	.final li{
		color: white;
		margin-right: 10px;

		list-style-type: none;
		display: inline-block;
	}
	.final h1{
		color: white;
		margin-top: 0px;

		font-size: 3em;
	
	}